services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    restart: unless-stopped
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./storage/logs/nginx/:/var/log/nginx/
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - web
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/up"]
      interval: 5s
      timeout: 10s
      retries: 20
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    command: php-fpm
    environment:
      COMMAND: php-fpm
      PROCESS: php-fpm
    user: ${UID}:${GID}
    container_name: php
    restart: unless-stopped
    volumes:
      - ./:/var/www/html
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/php.ini
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - web
      - db
  db:
    image: postgres:15-alpine
    container_name: db
    restart: unless-stopped
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    networks:
      - db
    healthcheck:
      test: pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}
      interval: 5s
      timeout: 10s
      retries: 20

  redis:
    image: redis:7.4-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command:
      - 'redis-server'
      - '--requirepass ${REDIS_PASSWORD}'
    volumes:
      - redis:/data
    networks:
      - db
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 10s
      retries: 20
  mailpit:
    image: axllent/mailpit:v1.23.2
    container_name: mailpit
    restart: unless-stopped
    volumes:
      - mailpit:/data
    ports:
      - "8025:8025"
      - "${MAIL_PORT}:1025"
    networks:
      - web

networks:
  web:
    driver: bridge
  db:
    driver: bridge

volumes:
  db:
    driver: local
  redis:
    driver: local
  mailpit:
    driver: local
