name: Deploy via SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Run migrations & optimize (via SSH)
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ${{ secrets.REMOTE_PATH }}
            git pull origin main
            rm -rf vendor
            /opt/php84/bin/php /usr/local/bin/composer install --no-dev --optimize-autoloader
            /opt/php84/bin/php artisan optimize:clear
            /opt/php84/bin/php artisan optimize
            /opt/php84/bin/php artisan migrate --force
            npm install
            rm -rf public/build
            npm run build
